body{
  background-color: #d3ced9;
  margin: 0;
}
nav{
  border-radius: 0 0 20px 20px;
}

.search{
  display: flex;
  padding: 10px;
  gap:10px;
  background-color: whitesmoke;
  flex-direction: row;
}
.search >img{
  width:30px;
  background-color: white;
  padding: 5px;
  border-radius: 15%;
}
.search > input{
  background-color: white;
  border: none;
  width: 75%;
}
.profile{
  display: flex;
  flex-direction: row;
}
.profile > p{
  padding-left: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.profile>img{
  width:50px;
  border-radius: 50%;
}

.container {
  margin: 50px;
  display: grid;
  gap : 20px;
  grid-template-columns: auto auto auto auto;
}

.card {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: aliceblue;
}
.right{
  width: 300px;
  border-radius: 20px;
  background-color: aliceblue;
  height: 920px;
  grid-column: 4 / span 4;
  grid-row: 1 / span 4;
}
.left{
  width: 300px;
  background-color: aliceblue;
  border-radius: 20px;
  height: 600px;
  grid-column: 1 / span 1;
  grid-row: 2 / span 4;
}
.post{
  width: 620px;
  border-radius: 20px;
  background-color: aliceblue;
  height: 600px;
  grid-column: 2 / span 3;
  grid-row: 2 / span 4;
}
.footer{
  display: flex;
  flex-direction: row;
  width: 1260px;
  gap : 50px;
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -180px;
  border-radius: 20px;
  background-color: aliceblue;
  height: 100px;
  padding: 10px;
}
.footer > img{
  border-radius: 50%;
  padding: 10px;
  border: solid;
  border-color: red;
  border-width: 4px;
}
.footer > p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  align-self: center;
  width: 1000px;
  color: blue;
  font-weight: 700;
}
.name {
  margin-top: 5px;
  color:gray;
  height: 40px;
  background-color: #c0b6cc;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 50px;
}
.card >img {
  width: 100px;
  border-radius: 50%;
  margin-left: 90px;
  border: solid;
  border-width: 5px;
  border-color: #d3ced9;
}
.score {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: xx-large;
  padding-left:110px;
}

.right>p{
  color:gray;
  margin-top: 5px;
  background-color: #c0b6cc;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 50px;
}
.cont{
  display: flex;
  flex-direction: row;
  color:rgb(186, 185, 185);
  background-color: white;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size:medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 50px;
  margin-top: 15px;
}
.dxd{
  margin-left: -20px;
  width: 30px;
  margin-right: 20px;
}
.temp{
  margin-left: -50px;
  width: 80px;
  padding: 20px;
  border-radius: 50%;
}
.rnk{
  margin-left: 20px;
  margin-top: 45px;
  color: black;
  font-size: large;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.hii{
  display: flex;
  flex-direction: row;
}
.hii>img{
  width: 8px;
  margin-top: -12px;
  margin-left: 10px;
}
.hii>p{
  width: 85%;
}

.adxd{
  display: flex;
  flex-direction: column;
  gap : 20px;
}
.hell{
  background-color: white ;
  border-radius: 20px;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: column;
}
.ima{
  display: flex;
  gap : 10px;
  flex-direction: row;
  justify-content: center;
}
.ima> img{
  border-radius: 50%;
  width: 90px;
  padding: 20px;
}
.hell> h1{
  font-size: x-large;
  padding-left: 20px;
  background-color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hell>span{
  
  font-size: medium;
  padding-left: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}